.nav {
  @media screen and (min-width: 320px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 219px;
    gap: 20px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 92px;
    padding-bottom: 715px;
    gap: 60px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.link {
  @media screen and (min-width: 320px) {
    color: var(--text-color);
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.28px;

    text-decoration: none;
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    letter-spacing: 1.92px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.link:hover {
  color: var(--yellow-color);
  text-decoration: none;
}

.link:focus {
  color: var(--yellow-color);
  text-decoration: none;
}

.active {
  color: var(--yellow-color);
  text-decoration: none;
}
