.list {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 0px 16px 0px 16px;
}

@media screen and (max-width: 767px) {
  .list {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    grid-gap: 16px;
    /* margin-top: 30px; */
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .list {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, minmax(244px, 1fr));
    column-gap: 32px;
    row-gap: 46px;
    /* margin-top: 40px; */
  }
}

@media screen and (min-width: 1280px) {
  .list {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(4, minmax(288px, 1fr));
    column-gap: 31px;
    /* margin-top: 42px; */
  }
}
