.list {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 0px 16px 0px 16px;

  @media screen and (min-width: 480px) {
    display: grid;
    /* justify-items: center; */
    align-items: stretch;
    grid-template-columns: repeat(4, minmax(280px, 1fr));
    grid-gap: 16px;
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(336px, 1fr));
    column-gap: 32px;
    row-gap: 46px;
    margin-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(4, minmax(288px, 1fr));
    column-gap: 31px;
    margin-top: 42px;
  }
}
