.list {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 0 16px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  gap: 32px;
}

.list-item {
  flex: 0 0 calc(25% - 63px);
  max-width: calc(25% - 63px);
  margin: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .list-item {
    flex-basis: calc(33.3333% - 62px);
    max-width: calc(33.3333% - 62px);
  }
}

@media screen and (max-width: 927px) {
  .list-item {
    flex-basis: calc(50% - 62px);
    max-width: calc(50% - 62px);
  }
}

@media screen and (max-width: 609px) {
  .list-item {
    flex-basis: calc(100% - 32px);
    max-width: calc(100% - 32px);
  }
}
