.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #54adff;
  color: #54adff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 4px;
}

.pagination button.active {
  background-color: #54adff;
  color: #fff;
  border: 2px solid #54adff;
}

.pagination button svg {
  width: 24px;
  height: 24px;
  fill: #54adff;
}

.pagination button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
