.item {
  border-radius: 40px;
  background: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  color: #111111;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 456px;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .item {
    width: 336px;
    height: 456px;
  }
}

@media screen and (min-width: 1280px) {
  .item {
    width: 280px;
    height: 456px;
  }
}

.image {
  align-self: flex-start;
  width: 280px;
  height: 288px;

  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 768px) {
  .image {
    width: 336px;
    height: 288px;
  }
}

@media screen and (min-width: 1280px) {
  .image {
    width: 280px;
    height: 288px;
  }
}

.addToFavoritesButton {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  top: 12px;
  left: 228px;
  background-color: #cce4fb;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media screen and (min-width: 768px) {
  .addToFavoritesButton {
    top: 12px;
    left: 284px;
  }
}

@media screen and (min-width: 1280px) {
  .addToFavoritesButton {
    top: 12px;
    left: 231px;
  }
}

.delFavoritesButton {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  top: 68px;
  left: 228px;
  background-color: #cce4fb;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media screen and (min-width: 768px) {
  .delFavoritesButton {
    top: 68px;
    left: 284px;
  }
}

@media screen and (min-width: 1280px) {
  .delFavoritesButton {
    top: 68px;
    left: 231px;
  }
}

.title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin: 20px 29px 20px 20px;

  width: 231px;
  height: 66px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category {
  color: var(--unnamed, #111);
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  flex-direction: column;
  position: absolute;
  top: 16px;

  display: flex;
  width: 126px;
  height: 32px;
  justify-content: center;

  background-color: #cce4fb;
  border-radius: 0 16px 16px 0;
}

.infoWrapper {
  display: flex;
  position: absolute;
  gap: 12px;
  top: 248px;
  left: 8px;
}

@media screen and (min-width: 768px) {
  .infoWrapper {
    gap: 24px;
    top: 248px;
    left: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .infoWrapper {
    gap: 12px;
    top: 248px;
    left: 8px;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 28px;
  padding: 2px 4px;

  background-color: #cce4fb;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.iconSvg {
  margin-right: 4px;
  width: 24px;
  height: 24px;
}

.texProperty {
  color: var(--unnamed, #111);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.location:hover {
  background: var(--unnamed, #54adff);
  color: rgb(253, 247, 242);
  border: none;
}

.year {
  display: flex;
  padding: 2px 4px;
  width: 80px;
  height: 28px;
  justify-content: center;
  align-items: center;

  border-radius: 16px;
  background: #cce4fb;
  cursor: pointer;
  transition: background-color 0.3s;
}

.year:hover {
  background: var(--unnamed, #54adff);
  color: rgb(253, 247, 242);
  border: none;
}

.sex {
  display: flex;
  padding: 2px 4px;
  width: 80px;
  height: 28px;
  justify-content: center;
  align-items: center;

  border-radius: 16px;
  background: #cce4fb;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sex:hover {
  background: var(--unnamed, #54adff);
  color: rgb(253, 247, 242);
  border: none;
}

.location:hover svg,
.year:hover svg,
.sex:hover svg {
  width: 24px;
  height: 24px;
  --color1: #ffffff;
}

.learnMoreButton {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 16px;

  background-color: #ffffff;
  color: var(--unnamed, #54adff);

  flex-direction: row;
  padding: 8px 28px;
  width: 248px;
  height: auto;
  border: 2px solid var(--unnamed, #54adff);
  border-radius: 40px;

  cursor: pointer;
  transition: background-color 0.3s;
}

@media screen and (min-width: 768px) {
  .learnMoreButton {
    margin-left: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .learnMoreButton {
    margin-left: 16px;
  }
}

.learnMoreButton:hover {
  background: var(--gr-blue, linear-gradient(315deg, #419ef1 0%, #9bd0ff 100%));
  color: rgb(253, 247, 242);
  border: none;
}

.learnMoreButton svg {
  width: 24px;
  height: 24px;
  fill: #54adff;
  display: none;
}

.learnMoreButton:hover svg {
  fill: #ffffff;
  display: inline-block;
  margin-left: 12px;
}

.textNoticesPage {
  color: var(--unnamed, #111);
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .textNoticesPage {
    width: 246px;
    height: 33px;
  }
}
@media screen and (min-width: 768px) {
  .textNoticesPage {
    justify-content: center;
    align-items: center;
    font-size: 48px;
    width: 492px;
    height: 66px;
  }
}

.categoryFilterWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.noticeFilter {
  /* margin: auto 0; */
  display: flex;
  gap: 12px;
}

@media screen and (min-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 704px;
    margin-bottom: 87px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1216px;
    padding: auto;
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .containerAddPet {
    width: 280px;
  }
}
