@media screen and (max-width: 1279px) {
  .list-item {
    flex-basis: calc(33.3333% - 62px);
    max-width: calc(33.3333% - 62px);
  }
}

@media screen and (max-width: 927px) {
  .list-item {
    flex-basis: calc(50% - 62px);
    max-width: calc(50% - 62px);
  }
}

@media screen and (max-width: 609px) {
  .list-item {
    flex-basis: calc(100% - 32px);
    max-width: calc(100% - 32px);
  }
}
