.authNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  padding-bottom: 38px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .authNav {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .authNav {
    padding-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 270px;
  }
}

.link {
  color: var(--text-color);
  text-decoration: none;
}
