.modalWarning {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(81, 81, 81, 0.6);
}

@media screen and (min-width: 768px) {
  .modalWarning {
    padding-top: 200px;
  }
}
@media screen and (min-width: 1280px) {
  .modalWarning {
    padding-top: 200px;
  }
}

.modalContent {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 608px;
  height: 429;
  border-radius: 40px;
  background: var(--unnamed, #fff);
  margin-top: 100px;
  padding: 16px;

  box-shadow: 3px 8px 14px 0px rgba(136, 198, 253, 0.19);
}
@media screen and (min-width: 320px) {
  .modalContent {
    width: 280px;
    padding: 24px;
    /* height: 445px; */
  }
}

@media screen and (min-width: 768px) {
  .modalContent {
    width: 608px;
    height: 429;
  }
}

.closeBtn {
  position: absolute;
  top: 24px;
  left: 224px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .closeBtn {
    top: 24px;
    left: 560px;
  }
}

.title {
  color: var(--unnamed, #111);
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
  width: 144px;
  height: 33px;
  margin-bottom: 20px;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    color: var(--unnamed, #111);
    text-align: center;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.44px;
    margin-bottom: 40px;
    margin-top: 60px;
  }
}

.text {
  color: var(--unnamed, #111);
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.56px;
  width: 240px;
  height: 144px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .text {
    color: var(--unnamed, #111);
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.8px;
    margin-bottom: 40px;
    width: 528px;
  }
}

.buttonWrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .buttonWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-bottom: 36px;
  }
}

.loginBtn {
  color: var(--unnamed, #fef9f9);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;

  border-radius: 40px;
  border: 2px solid var(--yellow, #ffc107);
  background: var(--yellow, #ffc107);
  cursor: pointer;
  width: 240px;

  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .loginBtn {
    display: flex;
    width: 165px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

.loginBtn svg {
  fill: #ffffff;
}

.registrationBtn {
  color: var(--yellow, #ffc107);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;

  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 40px;
  border: 2px solid var(--yellow, #ffc107);
  background: var(--unnamed, #fff);
  cursor: pointer;
  width: 240px;
}

@media screen and (min-width: 768px) {
  .registrationBtn {
    display: flex;
    width: 165px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

.loginBtn:hover,
.loginBtn:focus {
  background: linear-gradient(
    90deg,
    #ffde3f 0,
    #ffd02a 25%,
    #ffc107 50%,
    #f6b200 75%,
    #efa400 100%
  );
  border: none;
}

.registrationBtn:hover,
.registrationBtn:focus {
  background-color: var(--yellow-color);
  color: var(--background-color);
}
