.list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-top: 20px;

  @media screen and (min-width: 768px) {
    gap: 22px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 24px;
    gap: 24px;
  }
}

.centerText {
  text-align: center;
}

.centerError {
  text-align: center;
  color: red;
}
