.item {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  color: #111111;

  display: flex;
  flex-direction: column;

  height: 534px;
  width: 395px;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 556px;
  }

  @media screen and (min-width: 1280px) {
    height: 534px;
    width: 395px;
  }
}

/* .item:not(:last-child) {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-right: 16px;
    margin-bottom: 0;
  }
} */

.item::after {
  background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
  border-radius: 40px;
  margin-bottom: 12px;

  content: '';
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }
}

.image {
  align-self: flex-start;
  width: 100%;
  height: 252px;
  border-radius: 20px;
  margin-bottom: 16px;
  object-fit: cover;

  /* @media screen and (min-width: 480px) {
    height: 180px;
  } */

  @media screen and (min-width: 768px) {
    height: 252px;
  }
}

.itemBox {
  padding: 0 12px 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 16px;

  width: 231px;
  height: 66px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 480px) {
    width: 100%;
    height: 65px;
    -webkit-line-clamp: 2;
  }
}

.text {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;

  width: 100%;
  height: auto;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 480px) {
    -webkit-line-clamp: 3;
  }

  @media screen and (min-width: 768px) {
    -webkit-line-clamp: 5;
  }
}

.itemWrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.date {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #888888;
}

.link {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #54adff;
  text-decoration: none;
}
.link:hover {
  color: #ffc107;
  cursor: pointer;
}
