/* .burgerWraper {
  position: fixed;
} */

.headerBurgerMenu {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: transparent;
}

.burgerNavigation {
  @media screen and (min-width: 320px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: fixed;
    left: 0;
    right: 0;
    box-sizing: border-box;
    outline: currentColor;
    max-width: 100%;
    align-items: center;
    min-width: 0;
    min-height: 0;

    /* width: 100%;
    height: 100%; */

    background-color: #fef9f9;

    z-index: 100;
    overflow-y: scroll;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: fixed;
    left: 0;
    right: 0;
    box-sizing: border-box;
    outline: currentColor;
    max-width: 100%;
    align-items: center;
    min-width: 0;
    min-height: 0;

    /* width: 100%;
    height: 100%; */

    background-color: #fef9f9;

    z-index: 100;
    overflow-y: scroll;
  }

  @media screen and (min-width: 1280px) {
  }
}

.burgerHeader {
  @media screen and (min-width: 320px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    @media screen and (min-width: 768px) {
      gap: 22px;
    }
  }

  @media screen and (min-width: 1280px) {
  }
}

.userNav {
  @media screen and (min-width: 320px) {
    display: flex;
    justify-content: center;
    align-items: center;
   
    /* width: 111px;
    height: 44px; */
    /* margin-top: 40px;
    margin-bottom: 84px; */

    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.64px;
    color: var(--yellow-color);
  }

  @media screen and (min-width: 768px) {
    /* width: 113px; */

    margin-top: 0px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1280px) {
  }
}
