.bgImgMobile {
  background-image: url(assets/images/bg-paws-mobile-1-x-opt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .bgImgMobile {
    background-image: url(assets/images/bg-paws-tablet-1x-opt.png);
  }
}

@media screen and (min-width: 1280px) {
  .bgImgMobile {
    background-image: url(assets/images/bg-paws-desktop-1x-opt.png);
  }
}

.textMainPage {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375;
  padding: 60px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .textMainPage {
    font-size: 68px;
    line-height: 1.47;
    padding: 80px 116px 27px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .textMainPage {
    color: var(--text-color);
    font-size: 68px;
    font-weight: 800;
    line-height: 130%;

    width: 501px;
    height: 264px;

    padding-top: 188px;
    padding-bottom: 250px;
    padding-right: 763px;
  }
}
