.bgImg {
  background-image: url(assets/images/bg-paws-mobile-1-x-opt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .bgImg {
    background-image: url(assets/images/bg-paws-tablet-1x-opt.png);
  }
}

@media screen and (min-width: 1280px) {
  .bgImg {
    width: 1280px;
    height: 850px;

    background-image: url(assets/images/bg-paws-desktop-1x-opt.png);
  }
}

.bgWrap {
  position: relative;
}

.textMainPage {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375;
  padding: 60px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .textMainPage {
    font-size: 68px;
    line-height: 1.47;
    padding: 80px 116px 27px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .textMainPage {
    position: absolute;
    top: 188px;
    width: 100%;

    color: var(--text-color);
    font-size: 68px;
    font-weight: 800;
    line-height: 130%;

    width: 517px;
    height: 264px;

    padding: 0px 0px 0px 16px;
  }
}

@media screen and (min-width: 1280px) {
  .imgPets {
    position: absolute;
    right: 0;
    top: 28px;
    margin: 0px;
    width: 917px;
    height: 670px;
  }
}
