.userBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.userBtn:hover {
  border-radius: 50%;
  border: 1px solid var(--yellow-color);
}

.userBtn:focus {
  border-radius: 50%;
  border: 1px solid var(--yellow-color);
}
