.logoutBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;

  width: 135px;
  height: 40px;

  border-radius: 40px;
  border: none;
  border-color: var(--blue-color);
  background: var(--blue-color);
  color: var(--background-color);

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;

  position: fixed;
  left: 20px;
  top: 541px;
  right: 0;
  box-sizing: border-box;
  outline: var(--background-color);
  z-index: 20;
}

.logoutBtn:hover {
  background: var(--yellow-color);
  border-color: var(--yellow-color);
}

.logoutBtn:focus {
  background: var(--yellow-color);
  border-color: var(--yellow-color);
}
