.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(97, 97, 97, 0.6);
  backdrop-filter: blur(4px);

  z-index: 9999;
}

.modalContainer {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 12px;
  padding-bottom: 60px;

  border-radius: 20px;
  background: var(--white-color);
}

@media screen and (min-width: 768px) {
  .modalContainer {
    padding-bottom: 109px;
  }
}

.modalCrossBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  height: 24px;

  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.modalText {
  padding: 41px 0 44px 0;
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.96px;
}

@media screen and (min-width: 768px) {
  .modalText {
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.44px;
    padding: 60px 0 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .modalText {
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.44px;
  }
}

.modalCancelBtn {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;

  border-radius: 40px;
  border: 2px solid var(--blue-color);
  background-color: transparent;
  cursor: pointer;

  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
}

.modalCancelBtn:hover,
.modalCancelBtn:focus {
  background-color: var(--gradient-blue);
  color: var(--white-color);
}

.modalYesBtn {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 40px;
  background: var(--blue-color);
  border: 2px solid var(--blue-color);

  color: var(--background-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
}

.modalYesBtn:hover,
.modalYesBtn :focus {
  background-color: var(--gradient-blue);
}

.modalActions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 0px;
  width: 256px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .modalActions {
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding: 0 154px;
    /* width: 274px; */
    align-items: center;
  }
  .modalActions button {
    width: 154px;
  }
}
