.modalContainer {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 12px;

  width: 280px;
  height: 302px;

  border-radius: 20px;
  background: var(--white-color);
}

.modalCrossBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  height: 24px;

  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(97, 97, 97, 0.6);
  backdrop-filter: blur(4px);

  z-index: 1050;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.modalText {
  width: 200px;
  padding: 41px 0 44px 0;

  color: var(--text-color);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.96px;
}

.modalCancelBtn {
  display: flex;
  width: 256px;
  height: 40px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;

  border-radius: 40px;
  border: 2px solid var(--blue-color);
  background-color: transparent;
  cursor: pointer;

  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
}

.modalCancelBtn:hover,
.modalCancelBtn:focus {
  background-color: var(--gradient-blue);
  color: var(--white-color);
}

.modalYesBtn {
  display: flex;
  width: 256px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 40px;
  background: var(--blue-color);
  border: 2px solid var(--blue-color);

  color: var(--background-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
}

.modalYesBtn:hover,
.modalYesBtn :focus {
  background-color: var(--gradient-blue);
}
