.Container {
width: 320px;
height: 601px;
padding: 40px 20px 40px 20px;
background-image: url(../../../assets//images/bg-register-mobile-x1.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}


/* Register */

.ContainerForm {
border-radius: 20px;
background-color: white;
box-shadow: 3px 8px 14px 0px rgba(136, 198, 253, 0.19);
}

.Form {
    text-align: center;
}

.ContainerForm__Title {
text-align: center;
font-family: Manrope;
padding-top: 40px;
font-weight: 500;
line-height: normal;
margin-bottom: 20px;

}
.ContainerForm__Imput {
outline: none;
color: var(--grey-color);
width: 256px;
height: 48px;
border-radius: 40px;
border: 1px solid var(--blue-color);
padding: 12px 16px 12px 16px;
margin-bottom: 12px;
font-family: Manrope;
font-size: 16px;
font-style: normal;
line-height: 150%;
letter-spacing: 0.64px;
list-style: none;
}

.ContainerForm__Imput_Password {
border: none;
width: 224px;

color: var(--grey-color);
font-family: Manrope;
font-size: 16px;
font-style: normal;
line-height: 150%;
letter-spacing: 0.64px;
outline: none
}
.ImputContainer {
padding: 12px 16px 12px 16px;
margin-right: auto;
margin-left: auto;
display: flex;
width: 256px;
height: 48px;
border-radius: 40px;
border: 1px solid var(--blue-color);
margin-bottom: 12px;
justify-content: center;
align-items: center;
}

.FormRegister__Button {
width: 256px;
height: 48px;
margin-top: 28px;
margin-bottom: 8px;
padding: 10px 28px;
border-radius: 40px;
background-color: var(--blue-color);
font-family: Manrope;
font-size: 20px;
font-weight: 600;
line-height: normal;
letter-spacing: 0.8px;
color: var(--white-color);
border: none;
cursor: pointer;
outline: none
}

.FormRegister__Button_Login {
width: 256px;
height: 48px;
margin-top: 98px;
margin-bottom: 8px;
padding: 10px 28px;
border-radius: 40px;
background-color: var(--blue-color);
font-family: Manrope;
font-size: 20px;
font-weight: 600;
line-height: normal;
letter-spacing: 0.8px;
color: var(--white-color);
border: none;
cursor: pointer;
outline: none
}

.FormRegister__Text {
text-align: center;
font-family: Manrope;
font-size: 12px;
line-height: normal;
letter-spacing: 0.48px;
color: var(--grey-color);
padding-bottom: 40px;
}
.FormRegister__Link {
color: var(--blue-color);
font-family: Manrope;
font-size: 12px;
line-height: normal;
letter-spacing: 0.48px;
text-decoration-line: underline;
margin-left: 2px;
}

.Button__EyeClosedIcon {
display: block;
width: 27px;
height: 27px;
border: none;
list-style: none;
background-color: white;
padding: 0;
cursor: pointer;
outline: none
}

.ErrorText {
display: flex;
color: red;
font-size: 12px;
justify-content: flex-start;
align-items: center;
padding-left: 28px;
margin-bottom: 12px;
}

.ErrorTextInput {
outline: none;
color: var(--grey-color);
width: 256px;
height: 48px;
border-radius: 40px;
border: 1px solid #ff7d87;
padding: 12px 16px 12px 16px;

font-family: Manrope;
font-size: 16px;
font-style: normal;
line-height: 150%;
letter-spacing: 0.64px;
list-style: none;
}

.ErrorPasswordInput {
padding: 12px 16px 12px 16px;
margin-right: auto;
margin-left: auto;
display: flex;
width: 256px;
height: 48px;
border-radius: 40px;
border: 1px solid #ff7d87;

justify-content: center;
align-items: center;
}