.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 165px;
  height: 40px;
  padding: 8px 20px;

  gap: 8px;

  border-radius: 40px;
  border: 2px solid var(--yellow-color);
  background: var(--yellow-color);

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
  color: var(--background-color);
  fill: var(--background-color);
  cursor: pointer;
}

.loginBtn:hover,
.loginBtn:focus {
  background-color: transparent;
  color: var(--yellow-color);
  fill: var(--yellow-color);
}
