.conteiner {
    display: flex;
    height: 130px;
}

.conteinerTitle {
    top: 130px;
    margin-top: 40px;
    margin-left: 40px;
   
   
}
.title {
    width: 207px;
    height: 38px; 
    left: 17px; 
    font-family: Manrope;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: 4%;
    text-align: left;
    color: var(--text-color);
    }

.section {
    position: relative;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 8px 68px 8px;
    gap: 21px;
    margin-top: 30px;
    width: 395px;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 3px 8px 14px 0px #88C6FD30;
    }
    
    .avatar {
        align-items: center;
    }

    .img {
        
        width: 182px;
        height: 182px;
        top: 20px;
        left: 107px;
        border-radius: 40px;
        
    }
    .item {
        /* display: flex; */
        justify-content: flex-start;
        /* background-color: aqua; */
        width: 100%;
    }
  
    .label {
        justify-content: flex-start;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-align: left;
    }
    
    .input {
    border-radius: 20px;
    padding: 4px 12px 4px 12px;
    width: 70%;
    border: 1px solid rgba(84, 173, 255, 1);
    /* width: Fixed (255px);
    height: Hug (30px);
    top: 457px;
    left: 132px;
    padding: 4px 12px 4px 12px;
    gap: 191px; */
    }

    .ErrorMessage {
        color: red;
        font-size: 12px;
    }
    