.section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 20px 8px 68px 8px;
    gap: 21px;
    width: 395px;
    left: 16px;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 3px 8px 14px 0px #88C6FD30;
    }
    
    .title {
    width: 207px;
    height: 38px;
    left: 17px;
    font-family: Manrope;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    }
    
    .label {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-align: left;
    }
    
    .input {
    border-radius: 20px;
    padding: 4px 12px 4px 12px;
    border: 1px solid rgba(84, 173, 255, 1);
    /* width: Fixed (255px);
    height: Hug (30px);
    top: 457px;
    left: 132px;
    padding: 4px 12px 4px 12px;
    gap: 191px; */
    }
    