.flex {
  display: flex;
  flex-direction: column;
}

.wrapper {
  composes: flex;
  gap: 20px;
  margin-top: 16px;
  width: 100%;
  @media screen and (min-width: 768px) {
    gap: 24px;
  }
}

.moreInfoWrapper {
  composes: flex;
  gap: 20px;
  margin-top: 16px;
  width: 100%;
  @media screen and (min-width: 768px) {
    /* width: 704px; */
    gap: 24px;
    align-items: center;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
  }
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notMyPetfieldContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  @media screen and (min-width:768px) {
    flex-direction: row;
    gap: 34px;
  }
  @media screen and (min-width:1200px) {
   
    gap: 72px;
  }
}

.radioAndFileWrapper {
  /* display: flex;
  flex-direction: column;
  gap: 48px; */
}

.textInputsWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 24px;
    /* width: 395px; */
  }
}

.radioForm {
  margin-top: 24px;
  /* @media screen and (min-width: 320px) {
    
  } */
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }

  /* @media screen and (min-width: 1200px) {
  
  } */
}

.radioWrap {
  composes: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 91px;
}

.btn {
  display: inline-block;
  background-color: var(--light-blue-color);
  padding: 8px 16px;
  border: 1px solid var(--light-blue-color);
  border-radius: 40px;
}

input[type='radio']:checked + .btn {
  background-color: var(--blue-color);
}

/* .visually-hidden:checked + .btn {
  background-color: var(
    --blue-color
  ); 
} */

.inptWrapper {
  composes: flex;
  align-items: flex-start;
  gap: 4px;

  @media screen and (min-width: 768px) {
    gap: 8px;
  }
}

.lable {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: var(--text-color);

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 27px;
  }
}

.input {
  outline: none;
  border: 1px solid var(--blue-color);
  border-radius: 40px;
  padding: 9.5px 16px;
  width: 100%;
  font-weight: 400;

  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: var(--grey-color);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    padding: 12px 16px;
  }
}

.inputError {
  composes: input;
  border: 1px solid var(--red-color);
}

/* .ErrorTextInput {
  outline: none;
  color: var(--grey-color);
  width: 256px;
  height: 48px;
  border-radius: 40px;
  border: 1px solid #ff7d87;
  padding: 12px 16px 12px 16px;

  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.64px;
  list-style: none;
} */

.error {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--red-color);
}

.genderWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}

.radioWrapper {
  display: flex;
}

.gender {
  display: flex;
  gap: 12px;
  padding: 8px 16px 8px 16px;
  align-items: center;
  color: var(--grey-color);
}

.genderText {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}

.iconFemale {
  color: var(--red-color);
}

.iconMale {
  rotate: -45deg;
  color: var(--blue-color);
}

input[type='radio']:checked + .gender {
  background-color: var(--blue-color);
  color: var(--white-color);

  border-radius: 40px;
}

input[type='radio']:checked ~ .iconMale {
  color: var(--white-color);
  stroke: var(--white-color);
}

input[type='radio']:checked ~ .iconFemale {
  color: var(--white-color);
}

/* Wrapper for my pet More info */
.myPetInfoWrap {

}
/* Wrapper for not my pet More info */
.infoWrap {

}
/* Add Image */

.addImgWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 14px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }
}

.notMyPetaddImgWrapper {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
  gap: 14px;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    gap: 16px;
  }
}

/* .addImgText {
  max-width: 81px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--text-color);
} */

.addImgBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 112px;
  background-color: var(--light-blue-color);
  border: none;
  border-radius: 20px;
  padding: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 182px;
    height: 182px;
  }
}

.editIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Начальное значение прозрачности - иконка скрыта */
  visibility: hidden; /* Иконка скрыта, но занимает место */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавное появление */
}

.addImgBtn:hover,
.addImgBtn:focus {
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.12), 2px 8px 8px rgba(0, 0, 0, 0.06),
    4px 8px 10px rgba(0, 0, 0, 0.16);

  transform: scale(1.02);
}

.addImgBtn:hover .editIcon,
.addImgBtn:focus .editIcon {
  opacity: 1; /* При ховере на кнопку, иконка становится видимой */
  visibility: visible;
}

.textarea {
  composes: input;
  resize: none;

  height: 92px;
  border-radius: 20px;
  @media screen and (min-width: 768px) {
    height: 79px;
  }
}

/* Button group */

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
  }
}
