.PageNotFound{
    padding-top: 80px;
    padding-bottom: 275px;
}

  @media screen and (min-width: 768px) {
    .PageNotFound{
        padding-top: 60px;
        padding-bottom: 353px;
    }
  }

  @media screen and (min-width: 1280px) {
    .PageNotFound{
        padding-top: 60px;
        padding-bottom: 100px;
    }
  }

.textError{
    font-weight: 700;
    line-height: 1.35;
    text-align: center;

    width: 280px;
    height: 66px;

    margin-top: 80px;
    margin-left: 20px;
    font-size: 24px;

    animation: pulsate 2s infinite;
}

@keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* Збільшимо текст на 10% від оригінального розміру */
    }
    100% {
      transform: scale(1);
    }
  }


@media screen and (min-width: 768px) {
    .textError{
        width: 450px;
        height: 42px;

        font-size: 32px;
        font-weight: 600;
        margin-top: 60px;
        margin-left: 159px;
    }
}

@media screen and (min-width: 1280px) {
    .textError{
        width: 450px;
        height: 42px;

        font-size: 32px;
        font-weight: 600;
        margin-top: 60px;
        margin-left: 415px;
    }
}

.NotFoundImg{
    margin-top: 80px;
    margin-left: 20px;
}

.PageNotFoundBtn{
        display: flex;
        width: 248px;
        height: 40px;
        justify-content: center;
        align-items: center;

        padding: 8px 28px;
        border-radius: 40px;
        gap: 12px;
        border: 2px solid #54ADFF;
        background: #54ADFF;

        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.64px;
        color: #fef9f9;
    
        margin-top: 60px;
        margin-left: 36px;
        cursor: pointer;

    }

    @media screen and (min-width: 768px) {
        .PageNotFoundBtn {
            margin-top: 70px;
            margin-left: 260px;
        }
    }
    
    @media screen and (min-width: 1280px) {
        .PageNotFoundBtn {
            margin-top: 18px;
            margin-left: 516px;
        }
    }


.PageNotFoundBtn:hover{
    background-color: transparent;
    color: #54ADFF;
    stroke: #54ADFF;
}

.PageNotFoundBtn:focus{
        background-color: transparent;
        color: #54ADFF;
        stroke: #54ADFF;
}