.registerBtn {
  @media screen and (min-width: 320px) {
    display: flex;
    width: 165px;
    height: 40px;
    padding: 7px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 40px;
    border: 2px solid #ffc107;

    background-color: #fef9f9;

    color: #ffc107;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.64px;

    margin-top: 12px;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.registerBtn:hover {
  background-color: #ffc107;
  color: #fef9f9;
}

.registerBtn:focus {
  background-color: #ffc107;
  color: #fef9f9;
}
